###### Q1: Choose your base between 3 and 13

In [ ]:
# Base 11
# this function convert base10 numeric value to base11 string value.
def base10_base11(in_num):
    base=11
    chars_in_b11='0123456789A'
    is_negative=False
    returnVal=''
    
    if in_num==0:
        return '0'
    if in_num < 0:
        is_negative=True
        in_num=abs(in_num)
    while in_num > 0:        
        returnVal=chars_in_b11[in_num%base]+returnVal
        #print("mod value",in_num%base, chars_in_b11[in_num%base], returnVal )
        #print (returnVal)
        in_num//=11
        #print (in_num)
    if is_negative:
        return '-'+returnVal
    else: 
        return returnVal

In [25]:
base10_base11(456)

'385'

In [91]:
# prints the array of base11 string values based on given input value.
def print_b11_numbers(nums_to_print):
    outValues=[]
    for i in range(nums_to_print): 
        b11Nums=base10_base11(i)
        outValues.append(b11Nums)
    print (outValues)

In [92]:
print_b11_numbers(122)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '1A', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '2A', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '3A', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '4A', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '5A', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '6A', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '7A', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '8A', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '9A', 'A0', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'AA', '100']

###### Q6. Write a strategy to convert a number in your base to base 10 in plain english or psedo code or code

In [ ]:
# convert base 11 value (string) to base 10 number
def base11_base10(base11Val):
    chars_in_b11='0123456789A'
    is_negative=False
    returnVal=0
    if base11Val.startswith("-"):
        is_negative=True        
    if is_negative:
        base11Val = base11Val.strip('-')
        
    for i in base11Val:
        returnVal = returnVal * 11 + chars_in_b11.index(i)
    if is_negative:
        return -returnVal
    else:
        return returnVal

###### Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

In [63]:
print ('1 in base11 =', base11_base10('1'), 'in base10')
print ('10 in base11 =', base11_base10('10'), 'in base10')
print ('20 in base11 =', base11_base10('20'), 'in base10')
print ('30 in base11 =', base11_base10('30'), 'in base10')
print ('100 in base11 =', base11_base10('100'), 'in base10')

1 in base11 = 1 in base10
10 in base11 = 11 in base10
20 in base11 = 22 in base10
30 in base11 = 33 in base10
100 in base11 = 121 in base10

###### Q2: Add/Substraction single digit and multiple numbers in your number system

In [ ]:
def b11Addition(n1, n2):
    b10_n1=base11_base10(n1)
    b10_n2=base11_base10(n2)
    b10_sum=b10_n1+b10_n2
    return base10_base11(b10_sum)

In [48]:
print(b11Addition('A', '1A'))
print(b11Addition('A', '-3'))
print(b11Addition('23AA', 'A129'))

29
7
11528

In [49]:
def b11Substract(n1, n2):
    b10_n1=base11_base10(n1)
    b10_n2=base11_base10(n2)
    b10_sub=b10_n1-b10_n2
    return base10_base11(b10_sub)

In [52]:
print(b11Substract('1A', 'A'))
print(b11Substract('A', '-3'))
print(b11Substract('23AA','A129'))#3145-13462

10
12
-782A

###### Q4: Multiply multiple digits in your number system

In [ ]:
def b11Multiply(n1, n2):
    b10_n1=base11_base10(n1)
    b10_n2=base11_base10(n2)
    b10_multiply=b10_n1*b10_n2
    return base10_base11(b10_multiply)

In [54]:
print(b11Multiply('1A', 'A'))
print(b11Multiply('A', '-3'))
print(b11Multiply('23AA','A129'))#3145*13462

181
-28
21998182

###### Q3: Prepare a table of single digit multiplications in your number system.

In [ ]:
# this function takes base10 numerical value as input and results multiplication table values in base 11
def b11_Mtable(b10_n):
    
    for i in range(1, 11):
        result = base10_base11(b10_n * i)
        print(result)

In [61]:
b11_Mtable(8)

8
15
22
2A
37
44
51
59
66
73

###### Q7. Write a strategy to convert a number in base N to base M in plain english or psedo code or code

In [65]:
# convert base 8 four digits to base 10
x=1127
print (x)
inBase=8
OutBase=10
multiply=1
result=0
output=0

while (x!=0):
    d=x%OutBase
    result=multiply*d
    multiply=multiply*inBase
    output=output+result
    x=x//OutBase
    print("Digit:", d)
    print(result)
    print("Multiply:", multiply)
    print("-------------")
    
print("Final output:", output)

1127
Digit: 7
7
Multiply: 8
-------------
Digit: 2
16
Multiply: 64
-------------
Digit: 1
64
Multiply: 512
-------------
Digit: 1
512
Multiply: 4096
-------------
Final output: 599

In [69]:
#Q: Write your own algorithm or strategy to find log10. You can use 10**x.
import math

math.log10(100000)

5.0